{
  "extends": ["taro"],
  "rules": {
    "react/sort-comp":0,
    "no-unused-vars":["warn", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "import/no-commonjs":0,
    "no-array-index-key":0,
  },
  "globals": {
    "wx": true,
    "Component":true
},
  "parser": "babel-eslint",
}
