.index{
    display:flex;
    position: fixed;
    bottom: 0px;
    background: #fff;
    justify-content:space-around;
    font-size:28px;
    text-align: center;
    z-index: 10000;
    width: 100%;
    min-height: 120px;
    .tab{
        margin: auto 0;
        position: relative;
    }
    .title{
        position: fixed;
        bottom: 0rpx;
        
    }
    .icon{
        width:48rpx;
        height:48rpx;
        position: fixed;
        bottom: 30rpx;
        margin: 0 auto;
    }
    .content{
        position: fixed;

        cover-image{
            width:128rpx;
            height:128rpx;
            bottom: 40rpx;
        
      
            
        }
    }
    cover-image{
        width:48rpx;
        height:48rpx;
        position: fixed;
        bottom: 50rpx;

    }
}