
.gift-box {
  font-size: 20rpx;
  padding: 15rpx;
  background-color: #170c41;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  .gift-bg {
    max-height: 200rpx;
    background-color: #1e1056;
    border-radius: 25rpx;
    margin: 15rpx;
    width: 29%;
  }

  .gift-bg:hover {
    background-color: #2c177e;
  }

  .gift-consume {
    color: #ff9915;
  }
}
