.index{
  height: 100vh;
  .ranking{
    font-size: 20rpx;
    color:#666;
    margin-top:10rpx;
  }
  .box{
    text-align: center;
    .container{
      padding-top: 20rpx;
    }
    .title{
      font-size: 30rpx;
    }
    .count{
      font-size: 28rpx;
      color:#ff984d;
    }
 
  }
}

