.palyer-card{
    border: 1px solid #d6e4ef;
    border-radius: 12px;
    break-inside: avoid;
    // height: 320px;
    margin:0 8rpx 20rpx;
    padding:10rpx;
    .layer{
        display: flex;
        justify-content: space-between;
        font-size: 18px;
    }
    .header{
        .name{
            margin: auto 0;
            font-size: 28rpx;
        }
        .button{
            margin: auto 0;
            text-align: center;
            color: #fff;
            width: 70px;
            background: rgb(252,113,53);
            border-radius:24px;
        }
    }
    .content{
        // height: 220px;
        margin:10px 0;
        border-radius: 12px;
        image{
            border-radius: 12px;
        }
    }
}
